.App {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.App-header {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.QA {
    width: 85vw;
}